
.justify{
    text-align: justify;
}
.justify-last{
    text-align : justify;
    text-align-last: center;
}
.head{
    font-weight: bold;
}
.photo{
    max-height:15em;
}
.text-blue{
    color: #3295f1;
}
section {
    scroll-margin-top: 6em;
}
